.container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 70px;
    margin-top: -200px;
    margin-left: -200px;
    background: #DE4738;
    color: #333;
    border-radius: 2px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.pixel label{
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 1px solid #E24E3F;
    display: block;
    cursor: pointer;
}

.pixel input{
    display: none;
}
.pixel:hover label{
    background: #2fcf1a;
    border-color: #E24E3F;
}
.pixel input:checked ~ label{
    background: #fff;
    border-color: #fff;
}